<html xmlns:th="http://www.thymeleaf.org">
<div class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">닉네임</label>
            <input type="text" th:field="*{name}" id="name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password1}" id="password1" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{password2}" id="password2" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" id="email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">전화번호</label>
            <input type="tel" th:field="*{phone}" id="phone" class="form-control">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">주소</label>
            <input type="text" th:field="*{address}" id="address" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>

</div>
</html>
